html, body {
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  white-space: nowrap;
}
.ticker-item {
  display: inline-block;
  margin: 0;
  position: relative;
  transition: left 1s linear;
  padding: 3px;
  height: 30px;
}
.ticker-item img {
  float: left;
  margin: 2px;
  display: inline;
  width: 16px;
  height: 16px;
}

.notransition * {
  -moz-transition: none !important;
  transition: none !important;
}
