---
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="style/browser.css"/>
    {% for file in page.css %}
      <link rel="stylesheet" type="text/css" href="style/{{ file }}.css"/>
    {% endfor %}
    {% for file in page.js %}
      <script type="text/javascript" src="script/{{ file }}.js"></script>
    {% endfor %}
  </head>
  <body>
    <svg id="browser" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 1500 1000">
      <title>FeedTicker</title>
      <defs>
        <g id="feedticker-icon">
          <style type="text/css"><![CDATA[
            path.rss-arc { fill: #d70000; stroke:none; }
            path.middle-arc { fill: #e59200; }
          ]]></style>
          <path class="rss-arc"            d="M  50 375 L 125 375 A  75  75 0 0 0 50 300 Z"/>
          <path class="rss-arc middle-arc" d="M 175 375 L 250 375 A 200 200 0 0 0 50 175 L 50 250 A 125 125 0 0 1 175 375 Z"/>
          <path class="rss-arc"            d="M 300 375 L 375 375 A 325 325 0 0 0 50  50 L 50 125 A 250 250 0 0 1 300 375 Z"/>
        </g>
      </defs>

      <!-- window background -->
      <rect fill="blue" x="0" y="0" width="1500" height="1000"/>

      <!-- window title -->
      <text fill="white" x="20" y="25" style="font-weight: bold;font-size:18.75px;font-family:sans-serif">
        Mozilla Firefox &mdash; FeedTicker
      </text>

      <!-- window close/max/min buttons -->
      <g>
        <defs>
          <rect id="window-button-template" y="0" width="70" height="45" style="fill:#5f5fff;stroke:none"/>
        </defs>
        <g><!-- minimize -->
          <use xlink:href="#window-button-template" x="1262.5"/>
          <rect style="fill:#ffffff;stroke:none" width="45" height="5" x="1275" y="30"/>
        </g>
        <g><!-- maximize -->
          <use xlink:href="#window-button-template" x="1335"/>
          <rect style="fill:none;stroke:#ffffff;stroke-width:5" width="45" height="22.5" x="1347.5" y="10"/>
        </g>
        <g><!-- close -->
          <rect x="1407.5" y="0" width="80" height="45" style="fill:#db0000"/>
          <path style="stroke:white;stroke-width:3.5" d="M 1435 10 L 1457.5 35 M 1435 35 L 1457.5 10"/>
        </g>
      </g>

      <!-- browser chrome -->
      <g>
        <!-- background and tab -->
        <path style="fill:#d3d3d3"
           d="m 10,235 0,-110 C 10,100 8,102 40,100 59,99 48.5,55 73.3,55 L 350,55 c 17.5,0.7 12.9,50 30,45 L 1460,100 c 29.6,0.5 30,0.4 30,25 l 0,110 z"/>

        <g><!-- tab header -->
          <use xlink:href="#feedticker-icon" transform="translate(65, 60)scale(0.075)"/>
          <text style="font-size:22.5px;font-family:sans-serif" width="150" height="35" x="100" y="87.5">
            FeedTicker
          </text>
        </g>

        <g><!-- navigation toolbar -->
          <g><!-- URL field -->
            <rect style="fill:#ffffff;stroke:#aaaaaa;stroke-width:1" width="1274" height="41.5" x="75.5" y="118"/>
            <text style="font-family:Courier;font-size:25px" width="546.16058" height="24.147658" x="100" y="145">
              https://maul-esel.github.io/feed-ticker/
            </text>
          </g>

          <g><!-- back button -->
            <circle style="fill:#c8c8c8;stroke:#aaaaaa;stroke-width:1" cx="65" cy="140" r="24.5"/>
            <path style="fill:none;stroke:#777777;stroke-width:5" d="M 81.25,140 50,140 M 66.25,156.25 50,140 66.25,123.75"/>
          </g>

          <!-- feedticker button -->
          <use xlink:href="#feedticker-icon" transform="translate(1365,120)scale(0.1)"/>

          <g><!-- hamburger icon -->
            <defs>
              <rect id="hamburger-layer" style="fill:#666666" width="45" height="7.5" x="1425"/>
            </defs>
            <use xlink:href="#hamburger-layer" y="120"/>
            <use xlink:href="#hamburger-layer" y="133.75"/>
            <use xlink:href="#hamburger-layer" y="147.5"/>
          </g>
        </g>

        <!-- ticker items -->
        <foreignObject x="10" y="175" width="1475" height="50" style="font-size:22.5px">
          <div id="ticker" xmlns="http://www.w3.org/1999/xhtml">
            <!-- TODO: have ticker items generated by liquid -->
            <a class="ticker-item" href="" target="_blank">Ticker item 0</a>
            <a class="ticker-item" href="" target="_blank">Ticker item 1</a>
            <a class="ticker-item" href="" target="_blank">Ticker item 2</a>
            <a class="ticker-item" href="" target="_blank">very very very very long Ticker item 3</a>
            <a class="ticker-item" href="" target="_blank">Ticker item 4</a>
            <a class="ticker-item" href="" target="_blank">Ticker item 5</a>
            <a class="ticker-item" href="" target="_blank">Ticker item 6</a>
            <a class="ticker-item" href="" target="_blank">Ticker item 7</a>
            <a class="ticker-item" href="" target="_blank">Ticker item 8</a>
            <a class="ticker-item" href="" target="_blank">Ticker item 9</a>
            <a class="ticker-item" href="" target="_blank">Ticker item A</a>
            <a class="ticker-item" href="" target="_blank">Ticker item B</a>
          </div>
        </foreignObject>
      </g>

      <!-- document -->
      <foreignObject x="10" y="235" height="755" width="1480" style="font-size:20px">
        <div id="document" xmlns="http://www.w3.org/1999/xhtml">
          {{ content }}
        </div>
      </foreignObject>
    </svg>
  </body>
</html>
